@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-wrap: break-word;
    font-family: 'Rubik', sans-serif;
}

body{
    width: 100%;
    background-color: #2A2C3D;
}



h1{
    font-size: 2.2rem;
    text-align: center;
}

.container-main{
    width: 80%;
    max-width: 1000px;
    min-width: 250px;
    margin: 30px auto;
    padding: 40px 10px;
    background-color: #F7F7F6;
    border-radius: 15px;
    height: auto;
}

/* number Tel */
.intl-tel-input {
  display: table-cell;
}
.intl-tel-input .selected-flag {
  z-index: 4;
}
.intl-tel-input .country-list {
  z-index: 5;
}
.input-group .intl-tel-input .form-control {
  border-top-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0;
}